<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Information</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Test App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
            <a class="btn btn-sm btn-light text-dark" href="#"
                    role="button">Log off</a>
        </div>
    </nav>
    <div class="mx-5 my-5">
        <h2 class="mb-4">Michael Choi</h2>
        <h4>Registered at:</h4>
        <h4>User ID:</h4>
        <h4>Email address:</h4>
        <h4>Description:</h4>
        <div>
        <h3 class="mt-5">Leave a message for Michael</h3>
        <form action="">
            <input class="form-control form-control-lg" type="text" placeholder="">
            <div style="float:right">
                <button type="submit" class="btn btn-sm btn-success mt-2">Post</button>
            </div>                
        </form>
        <div class="mt-5 row">
            <div class="col"><p>Mark Gullien wrote</p></div>
            <div class="col"><p class="text-right">7 hours ago</p></div>
        </div>
        <div class="border border-secondary px-2 py-2">
            <p>Hi Michael! I'am having fun building Boom! Yeah!</p>
        </div>
        <div class="mt-5 row">
            <div class="col-4 text-right"><p>Mark Gullien wrote</p></div>
            <div class="col-8"><p class="text-right">7 hours ago</p></div>
        </div>
        <div class="col-10 border border-secondary px-2 py-2" style="float:right">
            <p>Hi Michael! I'am having fun building Boom! Yeah!</p>
        </div>
        <div class="my-5">
            <form action="">
                <input class="form-control form-control-lg col-10" type="text" placeholder="" style="float:right"><br>
                <div style="float:right">
                    <button type="submit" class="btn btn-sm btn-success mt-3">Post</button>
                </div>                
            </form>
        </div>
        
    </div>
    </div>
    